@charset "utf-8";
/* CSS Document */


/* panel right */
.panel-right {
width: 55%;
}

@media only screen and (max-width: 880px) {
  .panel-right {
    width: 105%;
  }
}


@media only screen and (max-width: 880px) {
  /* navigation */
  .main-navigation-mobile {
    margin-left: 20px;
  }
}


/* newsletter form */
.newsletter-submit {
margin: 49px auto 0 auto;
}