{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>
            The Times || Responsive Coming Soon Page
        </title>
        <meta content="" name="description">
        <meta content="" name="author">
        <meta content="" name="keywords">
        <meta content="height=device-height, width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
        <!-- The Times v1.2 || ex nihilo || January - March 2017 -->
        <!-- style start -->
        <link href="{% static 'css/custom.bootstrap.min.css' %}" media="all" rel="stylesheet" type="text/css">
        <link href="{% static 'css/style-dark.css' %}" media="all" rel="stylesheet" type="text/css">
        <link href="{% static 'css/font-awesome-4.7.0/css/font-awesome.min.css' %}" media="all" rel="stylesheet" type="text/css"><!-- style end -->
        <!-- google fonts start -->
        <link href="http://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900%7COswald:300,400,700%7CDosis:200,300,400,500,600,700,800" rel="stylesheet" type="text/css">
        
		<!-- google fonts end -->
        <!--[if ightt IE 9]>
            <script src="bower_components/html5shiv/dist/html5shiv.js"></script>
        <![endif]-->
        <!--[if IE]>
            <link href="css/IE/ie.css" media="all" rel="stylesheet" type="text/css">
        <![endif]-->
        <!-- scripts start -->

        <script src="{% static 'js/modal/modernizr.custom.js' %}" type="text/javascript">
        </script><!-- scripts end -->

    </head>
    <body class="light">
        <!-- preloader start -->
        <div class="light" id="preloader">
            <div id="preloader-status">
                <div class="preloader-position">
                    <div class="loader">
                        <span class="dot dot-1"></span> <span class="dot light dot-2"></span> <span class="dot light dot-3"></span> <span class="dot light dot-4"></span>
                    </div>
                </div>
            </div>
        </div><!-- preloader end -->
     
        <!-- newsletter modal overlay start -->
        <div class="md-overlay light"></div><!-- newsletter modal overlay end -->
        <!-- animated text start -->
        <h6 class="light">
            <span class="animated" id="js-rotating">Community Travels | Virtual Community for US | Connecting Social Capital | Resources, Opportunities, Experiences</span>
        </h6><!-- animated text end -->
        <!-- main title start -->
        <div class="titleOT">
            <!-- introduction 1 start -->
            <div class="introduction-1 light">
                <h1>
                    Black@
                </h1>
            </div><!-- introduction 1 end -->
        </div><!-- main title end -->
        <!-- navigation start -->
        <nav class="light" id="navigation">
            <ul>
                <li class="menu-item open-menu-content">
                    <a class="nav-button light" href="#">More information</a>
                </li>
              
            </ul>
        </nav><!-- navigation end -->
        <!-- borders introduction start -->
        <div class="borders-introduction">
            <!-- borders introduction wrapper start -->
            <div class="borders-introduction-wrapper">
                <!-- borders wrapper start -->
                <div class="border-wrapper">
                    <div class="border-inner">
                        <!-- logo start -->
                        <div class="center-space-top">
                            <span><img alt="Logo" src="{% static 'img/ba-black.png' %}"></span>
                        </div><!-- logo end -->
                        <!-- countdown start -->
                        <div class="center-space-bottom light">
                            <span id="countdown">This is placeholder data</span>
                        </div><!-- countdown end -->
                        <!-- borders start -->
                        <div class="border-bg light border-top-1"></div>
                        <div class="border-bg light border-top-2"></div>
                        <div class="border-bg light border-bottom-1"></div>
                        <div class="border-bg light border-bottom-2"></div>
                        <div class="border-bg light border-left"></div>
                        <div class="border-bg light border-right"></div><!-- borders end -->
                    </div>
                </div><!-- borders wrapper end -->
            </div><!-- borders introduction wrapper end -->
        </div><!-- borders introduction end -->
        <!-- upper page start -->
        <div class="upper-page">
            <!-- hero bg start -->
            <div class="hero-fullscreen">
                <!-- curtains start -->
                <div class="curtains-all light hero"></div><!-- curtains end -->
                <!-- wall images start -->
                <div id="wall-images-wrapper">
                    <div class="wall-images">
                        <img alt="Wall Image" class="wall-animation slide-in-top wall-image-2 wall-photo-2" src="{% static 'img/wall/wall-2.png' %}"> <img alt="Wall Image" class=
                        "wall-animation slide-in-top wall-image-1 wall-photo-1" src="{% static 'img/wall/wall-1.png' %}"> <img alt="Wall Image" class="wall-animation slide-in-top wall-image-3 wall-photo-3"
                        src="{% static 'img/wall/wall-3.png' %}"> <img alt="Wall Image" class="wall-animation slide-in-top wall-image-4 wall-photo-4" src="{% static 'img/wall/wall-4.png' %}"> <img alt="Wall Image"
                        class="wall-animation slide-in-top wall-image-5 wall-photo-5" src="{% static 'img/wall/wall-5.png' %}"> <img alt="Wall Image" class=
                        "wall-animation slide-in-top wall-image-6 wall-photo-6" src="{% static 'img/wall/wall-6.png' %}">
                    </div>
                </div><!-- wall images end -->
            </div><!-- hero bg end -->
        </div><!-- upper page end -->
        <!-- panel overlay start -->
        <div class="light" id="overlay"></div><!-- panel overlay end -->
        <!-- panel left start -->
        <div class="panel-left">
            <!-- bar hidden start -->
            <div class="bar-hidden">
                <!-- center container start -->
                <div class="center-container">
                    <!-- center block start -->
                    <div class="center-block">
                        <!-- bar hidden close start -->
                        <div class="main-navigation main-navigation-button-close light">
                            <i class="fa fa-close fa-closer"></i>
                        </div><!-- bar hidden close end -->
                    </div><!-- center block end -->
                </div><!-- center container end -->
            </div><!-- bar hidden end -->
            <!-- panel left overlay start -->
			
            <div class="panel-left-overlay light" style="background-image:url({% static 'img/background/bg-light1.png' %});"></div><!-- panel left overlay end -->
            <!-- panel left bg start -->
            <div class="panel-left-bg "></div><!-- panel left bg end -->
        </div><!-- panel left end -->
        <!-- panel right start -->
        <div class="panel-right">
            <!-- lower page start -->
            <div class="lower-page">
                <!-- center container start -->
                <div class="center-container">
                    <!-- center block start -->
                    <div class="center-block">
                        <!-- lower content start -->
                        <div class="lower-content">
                            <!-- container start -->
                            <div class="container sections">
                                <!-- bar hidden mobile start -->
                                <div class="bar-hidden-mobile">
                                    <!-- bar hidden close start -->
                                    <div class="main-navigation main-navigation-mobile main-navigation-button-close">
                                        <i class="fa fa-close fa-closer"></i>
                                    </div><!-- bar hidden close end -->
                                </div><!-- bar hidden mobile end -->
                                <!-- row start -->
                                <div class="row">
                                    <!-- divider start -->
                                    <div class="dividerOT-about-top"></div><!-- divider end -->
                                </div><!-- row end -->
                                <!-- row start -->
                                <div class="row alt">
                                    <h4>
                                        // 01
                                    </h4>
                                    <h2>
                                        About <span class="get-behind">How It Works</span>
                                    </h2>
                                    <h3>
                                        Community Travels
                                    </h3>
                                </div><!-- row end -->
                                <!-- row start -->
                                <div class="row">
                                    <!-- divider start -->
                                    <div class="dividerOT-about-bottom"></div><!-- divider end -->
                                </div><!-- row end -->
                                <!-- row start -->
                                <div class="row">
                                    <p>
                                        We’re creating a virtual community space for US. 
										As Black founders, creators, investors, and community builders, there are few places online that allow us to be ourselves unapologetically and authentically. 
										We want to blend the best of the online experiences with the best of offline experiences in hopes of creating a digital — and, occasionally physical — space that gives us the ability to add value by sharing knowledge while also serving as a place to simply rest amid overstimulation and emotional assault that we all experience online, in the workplace, and as we walk about this world.
                                    </p>
                                </div><!-- row end -->
                                <!-- row start -->
                                <div class="row">
                                    <!-- divider start -->
                                    <div class="dividerOT-works-top"></div><!-- divider end -->
                                </div><!-- row end -->
                                
                                <!-- row start -->
                                <div class="row alt">
                                    <h4>
                                        // 03
                                    </h4>
                                    <h2>
                                        Mint Details
                                    </h2>
                                
                                </div><!-- row end -->
                                <!-- row start -->
                                <div class="row">
                                    <!-- divider start -->
                                    <div class="dividerOT-contact-bottom"></div><!-- divider end -->
                                </div><!-- row end -->
                                <!-- row start -->
                                <div class="row info-contact">
                                    <div class="col-md-6">
                                        
                                        <p>
                                            <li>ERC1155 on the Ethereum Blockchain</li> 
                                        </p>
									
                                        <p>
											<li>500 initial mint</li>
                                        </p>
                                    </div>
                                    <div class="col-md-6">
                                       
                                        <p>
											<li>Starting at .1 ETH</li>
                                        </p>
										
                                        <p>
											<li>02-28-2022 6 p.m. EST</li>
                                        </p>
                                    </div>
                                </div><!-- row end -->
                             
                                <div class="row">
                                    <!-- divider start -->
                                    <div class="dividerOT-form-bottom"></div><!-- divider end -->
                                </div><!-- row end -->
                                <!-- row start -->
                                <div class="row footer-credits">
                                    <!-- footer logo start -->
                                    <div class="footer-credits-logo">
                                        <a href="#"><img alt="Logo Footer" src="{% static 'img/ba-black.png' %}"></a>
                                    </div><!-- footer logo end -->
                                    <!-- social icons footer start -->
                                    <div class="social-icons-wrapper">
                                        <ul class="social-icons">
                                            <li class="social-icon">
                                                <a class="fa fa-twitter" href="https://twitter.com/Blackatxyz"></a>
                                            </li>
                                           
                                        </ul>
                                    </div><!-- social icons footer end -->
                                    <!-- footer copyright start -->
                                    <div class="footer-credits-copyright">
                                        <a href="#">&copy;2017 All Rights Reserved.</a>
                                    </div><!-- footer copyright end -->
                                </div><!-- row end -->
                                <!-- row start -->
                                <div class="row">
                                    <!-- divider start -->
                                    <div class="dividerOT-footer-bottom"></div><!-- divider end -->
                                </div><!-- row end -->
                            </div><!-- container end -->
                        </div><!-- lower content end -->
                    </div><!-- center block end -->
                </div><!-- center container end -->
            </div><!-- lower page end -->
        </div><!-- panel right end -->
        <!-- photoSwipe background start -->
        <div aria-hidden="true" class="pswp" role="dialog" tabindex="-1">
            <div class="pswp__bg"></div>
            <div class="pswp__scroll-wrap">
                <div class="pswp__container">
                    <div class="pswp__item"></div>
                    <div class="pswp__item"></div>
                    <div class="pswp__item"></div>
                </div>
                <div class="pswp__ui pswp__ui--hidden">
                    <div class="pswp__top-bar">
                        <div class="pswp__counter"></div><button class="pswp__button pswp__button--close" title="Close (Esc)"></button> <button class="pswp__button pswp__button--share" title=
                        "Share"></button> <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button> <button class="pswp__button pswp__button--zoom" title=
                        "Zoom in/out"></button>
                        <div class="pswp__preloader">
                            <div class="pswp__preloader__icn">
                                <div class="pswp__preloader__cut">
                                    <div class="pswp__preloader__donut"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                        <div class="pswp__share-tooltip"></div>
                    </div><button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button> <button class="pswp__button pswp__button--arrow--right" title=
                    "Next (arrow right)"></button>
                    <div class="pswp__caption">
                        <div class="pswp__caption__center"></div>
                    </div>
                </div>
            </div>
        </div><!-- photoSwipe background end -->
        <!-- scripts start -->
		
        <script src="{% static 'js/jquery-1.12.4.min.js' %}" type="text/javascript">
        </script> 
        <script src="{% static 'js/plugins.js' %}" type="text/javascript">
        </script> 
        <script src="{% static 'js/the-times.js' %}" type="text/javascript">
        </script> <!-- scripts end -->
		
		<script>
			// 9. countdown date
			var end = new Date("02/28/2022 06:00 PM").getTime(); // FORMAT: month/day/year time
			var _second = 1000;
			var _minute = _second * 60;
			var _hour = _minute * 60;
			var _day = _hour * 24;
			var timer;
			
			// 10. countdown
			function showRemaining() {
				var now = new Date().getTime();
				var distance = end - now;
				if (distance < 0) {
					clearInterval(timer);
					document.getElementById("countdown").innerHTML = "EXPIRED.";
					return;
				}
				var days = Math.floor(distance / _day);
				var hours = Math.floor((distance % _day) / _hour);
				var minutes = Math.floor((distance % _hour) / _minute);
				var seconds = Math.floor((distance % _minute) / _second);
				document.getElementById("countdown").innerHTML = days + "d, ";
				document.getElementById("countdown").innerHTML += hours + "h, ";
				document.getElementById("countdown").innerHTML += minutes + "m &amp; ";
				document.getElementById("countdown").innerHTML += seconds + "s left";
			}
			timer = setInterval(showRemaining, 1000);
		</script>
    </body>
</html>